<%= labelled_form_for [@project, @contact], url: project_contact_path(@project, @contact),  html: { multipart: true } do |f| %>
  <%= error_messages_for 'contact' %>

  <div class="box">
    <fieldset class="tabular">
      <legend><%= l(:label_change_properties) %></legend>
      <div id="all_attributes">
        <%= render :partial => 'form', locals: { f: f } %>
      </div>
    </fieldset>

    <fieldset><legend><%= l(:label_attachment_plural) %></legend>
      <% if @contact.attachments.any? && @contact.safe_attribute?('deleted_attachment_ids') %>
        <div class="contextual"><%= link_to l(:label_edit_attachments), '#', onclick: "$('#existing-attachments').toggle(); return false;" %></div>
        <div id="existing-attachments" style="<%= @contact.deleted_attachment_ids.blank? ? 'display:none;' : '' %>">
          <% @contact.attachments.each do |attachment| %>
          <span class="existing-attachment">
            <%= text_field_tag '', attachment.filename, class: "icon icon-attachment filename", disabled: true %>
            <label>
              <%= check_box_tag 'contact[deleted_attachment_ids][]',
                                attachment.id,
                                @contact.deleted_attachment_ids.include?(attachment.id),
                                id: nil, class: "deleted_attachment" %> <%= l(:button_delete) %>
            </label>
          </span>
          <% end %>
          <hr />
        </div>
      <% end %>

      <div id="new-attachments" style="display:inline-block;">
        <%= render partial: 'attachments/form', locals: {container: @contact} %>
      </div>
    </fieldset>
  </div>

  <%= submit_tag l(:button_submit) %>
  <%= link_to l(:button_cancel), project_contact_path(project_id: @project, id: @contact.id), :onclick => params[:action] == 'show' ? "$('#update').hide(); return false;" : '' %>
<% end %>
